<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>Create New Ad Request</h2>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <p>
            {{ form.influencer_id.label }}<br>
            {{ form.influencer_id(size=32) }}<br>
            {% for error in form.influencer_id.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
        </p>
        <p>
            {{ form.requirements.label }}<br>
            {{ form.requirements(rows=5) }}<br>
            {% for error in form.requirements.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
        </p>
        <p>
            {{ form.payment_amount.label }}<br>
            {{ form.payment_amount(size=32) }}<br>
            {% for error in form.payment_amount.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <a href="{{ url_for('main.home') }}">Back to Home</a>
</body>
</html>
